/* Font from google */

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;1,600&display=swap');

body{
    font-family: 'Poppins', sans-serif;
    background-color: #AAAAAA;  
}
/* header part */
.container{
    display: flex;
    align-items: center;
    background-color: white;
    width: 1300px;
}

.menu{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.menu-right{
    font-size:16px;
    margin-left:120px;
    margin-top: 10px;
    font-weight:500px;
}
nav{
  margin-top: 26px;
}
nav ul{
    display: flex;
    text-decoration: none;
    margin-left: 220px;
}

nav ul li{
    list-style: none;
    display: flex;
    margin:15px;
    font-size: 20px;
    font-weight: 700px;
}
nav ul li a{
    text-decoration: none;  
    color: black;
}
ul .fas{
    color: black;
    font-size: 25px;
    padding: 20px;
}

 /* influnce second-step */
 .camera-contain{
     display: grid;
     grid-template-columns: repeat(2,1fr);
     margin-bottom: 60px;
 }
.go-preebook{
    padding-left: 100px;
    padding-top: 120px;
}

h2{
    font-size:18px;

}
.link-button{
    text-decoration: none;
    padding: 10px 24px;
    border-radius: 40px;
    background-color:red;
    margin-top: 50px;
    color: white;
    font-weight: 850px;
}

   
  .camera-left img{
    background: url(images/bg-img.png);
    width: 410px;
    height: 380px;
    padding-top: 70px;
  
}
.bg-camera{
    padding-top: 30px;
    margin-left: 100px;
}

    .bg-camera:hover .camera-left{
        transform: scale(1.2) rotate(20deg);
        transition: transform 2s ease-in-out;
    }

 /* hr{
     border: 2px solid #D1D1D1;
     margin-bottom: 28px;} */

    .logos{
        display:grid;
        grid-template-columns: repeat(6,1fr);
        grid-column-gap:80px;
        margin-left: 120px;
        padding-top: 50px;
    } 

/* Popular part  */

.collections{
    display: grid;
    grid-template-columns: repeat(3,1fr);   
}
.collection{
    background-color:white;
    border-radius: 15px;
    margin:60px;
    padding:8px;

}
.section-title{
    font-size: 20px;
    display:inline-flex;
}
.course-benner img{
    width:300px;
    height:200px;
}
.collection-info{
    font-size: 14px;
}

.fa-star{
    color: #ffc014; 
}

